node_modules
dist
release
.DS_Store
*.log

# Prevent compiled JS files in src from interfering with TS
src/**/*.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Environment
.env
.env.local
.env.*.local

prisma/*.db
prisma/*.db-journal

.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
firebase.env.ts
